{% extends "admin/base_site.html" %}
{% load i18n %}

{% block userlinks %}
    {% url 'django-admindocs-docroot' as docsroot %}

    {% if docsroot %}
        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
    {% endif %}

    {% trans 'Change password' %} /
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs{% if LANGUAGE_BIDI %} rbc{% else %} lbc{% endif %}">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; {% trans 'Password change' %}
    </div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{#{% block content_title %}<h1>{{ title }}</h1>{% endblock %}#}
{#{% block content %}#}
{#    <p>{% trans 'Your password was changed.' %}</p>#}
{#{% endblock %}#}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header {{ direction.panel }}">
                        <h5 class="title">{% trans 'Your password was changed.' %}</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7 pr-md-5">
                                <div class="card-footer">
                                    <a href="{% url 'admin:index' %}" class="btn btn-fill btn-primary">
                                        <i class="fa fa-home"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascript %}
    <script type="application/javascript">
        notification.info("<p class='{{ direction.panel }}'>" + "{% trans 'Your password was changed.' %}" + "</p>", 'top', '{{ direction.notify }}');
    </script>
{% endblock %}
